body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.brand {
    display: inline-block;
    font-size: 28px; /* Adjust font size of the title */
    margin-bottom: 10px; /* Add margin for spacing */
    position: relative; /* Position the brand container relative */
    width: 70%; /* Adjust width of the brand container */
    text-align: center; /* Center the text */
}

.red-box {
    background-color: #d50000;
    padding: 5%;
    border-radius: 5px;
    display: inline-block;
    width: 100%; /* Adjust the width of the red box */
    max-width: 500px; /* Set maximum width to prevent overflow */
    position: relative; /* Adjust position to relative */
}

.black-box {
    background-color: #000;
    padding: 5px;
    color: #fff;
    font-size: 32px; /* Adjust font size of the black box */
    position: absolute; /* Position the black box */
    top: 31%; /* Align it to the vertical middle of the red box */
    left: 50%; /* Align it to the horizontal middle of the red box */
    transform: translate(-50%, -50%); /* Move it back by half of its width and height */
    width: calc(100% - 10px); /* Adjust width to fit within red box padding */
    max-width: 97%; /* Set maximum width to prevent overflow */
    height: 50%; /* Set the height to 50% */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.du-pneu{
    padding: 5px;
    color: #fff;
    font-size: 32px; /* Adjust font size of the black box */
    position: absolute; /* Position the black box */
    top: 55%; /* Align it to the top of the red box */
    left: 1%; /* Align it to the left of the red box */
    width: calc(100% - 10px); /* Adjust width to fit within red box padding */
    max-width: 97%; /* Set maximum width to prevent overflow */
    height:30%
}
.title {
    font-size: 20px; /* Adjust font size of "Montmagny" */
    position: absolute;
    bottom: 5px; /* Adjust position to be relative to the red box */
    left: 5px; /* Adjust position to be relative to the red box */
    width: calc(100% - 10px); /* Adjust width to fit within red box padding */
    max-width: 490px; /* Set maximum width to prevent overflow */
    white-space: nowrap; /* Prevent line breaks for continuous diagonal movement */
    animation: moveDiagonalTitle 3s infinite linear; /* Add animation back */
}

.montmagny {
    font-size: 16px; /* Adjust font size of "Montmagny" */
    white-space: nowrap; /* Prevent line breaks for continuous diagonal movement */
}
@keyframes moveDiagonalTitle {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg); /* Starting position, inside the red box */
    }
    100% {
        transform: translate(60%, -280%) rotate(-45deg); /* Ending position, inside the red box */
    }
}



nav {
    background-color: #d50000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1%;
    text-align: center;
    position: fixed; /* Set position to fixed */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 100; /* Set a high z-index to ensure it's above other content */
}



.container {
    margin: 20px;
    padding-bottom: 6%;
}

.testimonial {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333;
}

.testimonial p {
    margin: 0;
}

