body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #201e1e;
    color: #fff;
}

header {
    background-color: #201e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

label::after {
    content: " *"; /* Add asterisk after label text */
    color: red;   /* Set color to red */
}

.brand {
    display: inline-block;
    font-size: 48px; /* Augmenter la taille de la police du titre */
    margin-bottom: 10px;
    position: relative;
    width: 70%;
    text-align: center;
}

.red-box {
    
    background-color: #c31b1b;
    padding: 7%;
    border-radius: 5px;
    display: inline-block;
    width: 24%; /* Réduire la largeur de la boîte */
    max-width: 500px;
    position: relative;
    margin: 20px; /* Ajouter un espacement autour de la boîte */
    border: 5px solid black;
}

.black-box {
    font-weight: bold;
    background-color: #000;
    padding: 5px;
    color: #fff;
    font-size: 70px; /* Augmenter la taille de la police du texte */
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    max-width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.du-pneu {
    font-weight: bold;
    padding: 5px;
    color: #fff;
    font-size: 70px; /* Augmenter la taille de la police du texte */
    position: absolute;
    top: 50%;
    left: 1%;
    width: calc(100% - 10px);
    max-width: 97%;
    height: 30%;
}

.title {
    font-size: 48px; /* Augmenter la taille de la police du titre */
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
    max-width: 490px;
    white-space: nowrap;
    animation: moveDiagonalTitle 3s infinite linear;
}

.montmagny {
    top: 86%;
    font-style: italic;
    font-size: 40px; /* Adjust font size of "Montmagny" */
    white-space: nowrap; /* Prevent line breaks for continuous diagonal movement */
    color:  #ffff00;
}





nav {
    background-color: #d50000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1%;
    text-align: center;
    position: fixed; /* Set position to fixed */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 100; /* Set a high z-index to ensure it's above other content */
}



.container {
    margin: 20px;
    padding-bottom: 6%;
}
.social-icons {
    position: absolute;
    top: 15%;
    left: 20px;
    transform: translateY(-50%);
}

.social-icons a {
    display: inline-block;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.leftTires,
.rightTires {
    width: 25%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the tires */
    top: 50%; /* Adjust vertically */
    transform: translateY(-50%); /* Center vertically */
    opacity: 0.4; /* Set opacity to 70% */

}

.leftTires {

    left: 19%; /* Position on the left side */
}

.rightTires {

    right: 19%; /* Position on the right side */
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #201e1e; /* Set background color */
    color: #fff; /* Set text color */
}

.form-container form {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.form-container label,
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea,
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    color: #fff;
    box-sizing: border-box;
}

.form-container textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

.form-container input[type="submit"] {
    cursor: pointer;
    background-color: #d50000; /* Red color for submit button */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.form-container input[type="submit"]:hover {
    background-color: #ff3333; /* Darker red color on hover */
}